/* line 3, main.scss */
body {
  font-family: 'Titillium Web', sans-serif; }

/* line 6, main.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 11, main.scss */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #352d2f;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

/* line 20, main.scss */
.header__logo {
  text-align: center;
  background-color: #f63c3c;
  padding: 9px 10px 10px 10px;
  height: 50px; }
  /* line 25, main.scss */
  .header__logo .header__logo--link {
    text-decoration: none;
    color: #fff; }

/* line 32, main.scss */
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px; }
  /* line 37, main.scss */
  .header__nav .header__nav--item {
    text-decoration: none;
    color: #fff;
    padding: 0 9px;
    line-height: 48px;
    border-bottom: 3px solid transparent; }
    /* line 43, main.scss */
    .header__nav .header__nav--item:first-child {
      border-bottom: 3px solid #fff; }
    /* line 46, main.scss */
    .header__nav .header__nav--item:hover {
      border-bottom: 3px solid #fff; }

/* line 52, main.scss */
.cta {
  padding: 13% 0 2%;
  background-color: #352d2f;
  color: #fff;
  font-family: Teko, sans-serif;
  text-align: center; }
  /* line 58, main.scss */
  .cta .cta__message {
    margin-bottom: 10%;
    line-height: 80px;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 10px; }

/* line 67, main.scss */
.cta__button {
  margin-bottom: 2%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  outline: none;
  cursor: pointer; }

/* line 78, main.scss */
.cta__discover-more {
  margin: 1% 0;
  display: block;
  color: #fff; }
  /* line 82, main.scss */
  .cta__discover-more .discover-more__icon {
    font-size: 32px;
    margin: .5% 0; }
  /* line 85, main.scss */
  .cta__discover-more .discover-more__hook {
    font-size: 16px; }

/* line 90, main.scss */
.explore-more {
  padding: 5% 0 3%;
  text-align: center; }
  /* line 93, main.scss */
  .explore-more .explore-more__heading {
    width: 50%;
    margin: 0 auto 3%;
    font-weight: 900;
    font-family: Teko, sans-serif;
    font-size: 30px;
    letter-spacing: 5px; }
  /* line 101, main.scss */
  .explore-more .explore-more__button {
    background-color: #f63c3c;
    border: none;
    color: #fff;
    letter-spacing: -1;
    padding: 10px 15px;
    outline: none;
    cursor: pointer; }

/* line 113, main.scss */
.features {
  color: #fff;
  font-family: 'Teko', sans-serif; }

/* line 117, main.scss */
.features__left {
  width: 50%;
  height: 460px;
  padding-bottom: 10%;
  float: left;
  background: #f63c3c; }
  /* line 123, main.scss */
  .features__left .features__left--subtitle {
    margin: 30% 10% 3%; }
  /* line 125, main.scss */
  .features__left .features__left--title {
    margin: 1% 10% 3%;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0 10%; }
  /* line 131, main.scss */
  .features__left .features__left--paragraph {
    margin: 1% 10% 30%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0 10%;
    width: 45%; }

/* line 141, main.scss */
.features__top-right {
  background-color: #352d2f;
  float: right;
  width: 50%;
  height: 230px; }
  /* line 146, main.scss */
  .features__top-right .features__top-right--title {
    margin: 15% 10% 1%;
    font-size: 30px;
    letter-spacing: 2px; }
  /* line 151, main.scss */
  .features__top-right .features__top-right--paragraph {
    margin: 1% 10% 3%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    line-height: 20px;
    width: 45%; }

/* line 159, main.scss */
.features__bottom-right {
  background-color: #30282a;
  float: right;
  width: 50%;
  height: 230px; }
  /* line 164, main.scss */
  .features__bottom-right .features__bottom-right--title {
    margin: 15% 10% 1%;
    font-size: 30px;
    letter-spacing: 2px; }
  /* line 168, main.scss */
  .features__bottom-right .features__bottom-right--paragraph {
    margin: 1% 10% 3%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    line-height: 20px;
    width: 45%; }

/* line 176, main.scss */
.show-more {
  height: 50px;
  width: 100%;
  clear: both;
  background: #30282a;
  text-align: center; }
  /* line 182, main.scss */
  .show-more .show-more__link {
    line-height: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 3px 7px;
    border-bottom: 2px solid #fff; }

/* line 193, main.scss */
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 5% 0 3%;
  max-width: 80%; }

/* line 200, main.scss */
.info__block--left {
  padding-left: 5%;
  max-width: 90%; }
  /* line 203, main.scss */
  .info__block--left .info__block-icon {
    font-size: 32px;
    color: #f63c3c;
    margin-bottom: 2%; }
  /* line 208, main.scss */
  .info__block--left .info__block-title {
    font-family: 'Teko', sans-serif;
    margin-bottom: 3%;
    font-weight: 900; }
  /* line 213, main.scss */
  .info__block--left .info__block-paragraph {
    font-size: 14px; }

/* line 218, main.scss */
.info__block--right {
  padding-left: 5%;
  max-width: 90%; }
  /* line 221, main.scss */
  .info__block--right .info__block-icon {
    font-size: 32px;
    color: #f63c3c;
    margin-bottom: 2%; }
  /* line 226, main.scss */
  .info__block--right .info__block-title {
    font-family: 'Teko', sans-serif;
    margin-bottom: 3%;
    font-weight: 900; }
  /* line 231, main.scss */
  .info__block--right .info__block-paragraph {
    font-size: 14px; }

/* line 237, main.scss */
.social {
  padding: 2% 4%; }
  /* line 239, main.scss */
  .social .social__title {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    width: 80%;
    margin: 0 auto; }
  /* line 245, main.scss */
  .social .social__paragraph {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    margin: 0 auto 2%;
    width: 80%; }

/* line 253, main.scss */
.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 256, main.scss */
  .social__links .social__links--item {
    text-decoration: none;
    color: #fff;
    min-width: 25%;
    background: #30282a;
    text-align: center;
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
    padding: 4% 1%;
    margin: 0 .5%;
    font-size: 32px; }
    /* line 266, main.scss */
    .social__links .social__links--item p {
      margin-top: 2%;
      font-size: 16px;
      letter-spacing: -1px;
      font-weight: 900; }

/* line 276, main.scss */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #30282a;
  padding: 100px 0; }
  /* line 283, main.scss */
  .contact .contact__info {
    padding: 40px 120px;
    color: #fff;
    background-color: #f63c3c;
    font-family: 'Teko', sans-serif; }
    /* line 288, main.scss */
    .contact .contact__info .contact__icon {
      font-size: 32px;
      margin-bottom: 10%; }

/* line 296, main.scss */
.footer {
  font-family: 'Teko', sans-serif; }
  /* line 298, main.scss */
  .footer .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 93%;
    padding: 3% 0 0;
    margin: 0 auto; }

/* line 307, main.scss */
.footer-metro {
  min-width: 24%; }
  /* line 309, main.scss */
  .footer-metro .footer-metro__heading {
    border-bottom: 5px solid #000;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 4px; }
  /* line 315, main.scss */
  .footer-metro .footer-metro__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    /* line 318, main.scss */
    .footer-metro .footer-metro__list .footer-metro__item {
      margin: 5px 0; }
      /* line 320, main.scss */
      .footer-metro .footer-metro__list .footer-metro__item a {
        text-decoration: none;
        color: #000; }

/* line 328, main.scss */
.footer-services {
  min-width: 50%; }
  /* line 330, main.scss */
  .footer-services .footer-services__heading {
    border-bottom: 5px solid #000;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 4px; }
  /* line 336, main.scss */
  .footer-services .footer-services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 170px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    /* line 340, main.scss */
    .footer-services .footer-services__list .footer-services__item {
      margin: 5px 0; }
      /* line 342, main.scss */
      .footer-services .footer-services__list .footer-services__item a {
        text-decoration: none;
        color: #000; }

/* line 350, main.scss */
.footer-works {
  min-width: 24%; }
  /* line 352, main.scss */
  .footer-works .footer-works__heading {
    border-bottom: 5px solid #000;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 4px; }
  /* line 357, main.scss */
  .footer-works .footer-works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    /* line 360, main.scss */
    .footer-works .footer-works__list .footer-works__item {
      margin: 5px 0; }
      /* line 362, main.scss */
      .footer-works .footer-works__list .footer-works__item a {
        text-decoration: none;
        color: #000; }

/* line 370, main.scss */
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #000;
  padding-top: .5%;
  width: 80%;
  margin: 0 auto; }
  /* line 377, main.scss */
  .copyright .copyright__policy {
    text-decoration: none;
    color: #000; }

/*# sourceMappingURL=main.css.map */