@charset "UTF-8";

body {
  font-family: 'Titillium Web', sans-serif;
}
* {
  box-sizing: border-box;
}

//HEADER
.header  {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgb(53, 45, 47);
  justify-content: space-around;
}

//HEADER LOGO
.header__logo {
  text-align: center;
  background-color: #f63c3c;
  padding: 9px 10px 10px 10px;
  height: 50px;
  .header__logo--link {
    text-decoration: none;
    color: #fff;
    }
  }

//HEADER NAV-BAR
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  .header__nav--item {
    text-decoration: none;
    color: #fff;
    padding: 0 9px;
    line-height: 48px;
    border-bottom: 3px solid transparent;
    &:first-child {
      border-bottom: 3px solid #fff;
    }
    &:hover {
      border-bottom: 3px solid #fff;
    }
  }
}
//CTA SECTION
.cta {
  padding: 13% 0 2%;
  background-color: rgb(53, 45, 47);
  color: #fff;
  font-family: Teko, sans-serif;
  text-align: center;
  .cta__message {
    margin-bottom: 10%;
    line-height: 80px;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 10px;
  }
}
//CTA SECTION__BUTTON
.cta__button {
  margin-bottom: 2%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}

//CTA SECTION__LEARN MORE
.cta__discover-more {
  margin: 1% 0;
  display: block;
  color: #fff;
  .discover-more__icon {
    font-size: 32px;
    margin: .5% 0;}
    .discover-more__hook {
    font-size: 16px;}
}

//CTA SECTION EXPLORE MORE
.explore-more {
  padding: 5% 0 3%;
  text-align: center;
  .explore-more__heading {
    width: 50%;
    margin: 0 auto 3%;
    font-weight: 900;
    font-family: Teko, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
  }
    .explore-more__button {
      background-color: #f63c3c;
      border: none;
      color: #fff;
      letter-spacing: -1;
      padding: 10px 15px;
      outline: none;
      cursor: pointer;
  }
}

//FEATURES SECTION
.features {
  color: #fff;
  font-family: 'Teko', sans-serif;
}
.features__left {
  width: 50%;
  height: 460px;
  padding-bottom: 10%;
  float: left;
  background: #f63c3c;
  .features__left--subtitle {
  margin: 30% 10% 3%; }
  .features__left--title {
  margin: 1% 10% 3%;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0 10%;
  }
  .features__left--paragraph {
  margin: 1% 10% 30%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin: 0 10%;
  width: 45%;
  }
}

.features__top-right {
  background-color: #352d2f;
  float: right;
  width: 50%;
  height: 230px;
  .features__top-right--title {
    margin: 15% 10% 1%;
    font-size: 30px;
    letter-spacing: 2px;
  }
  .features__top-right--paragraph {
    margin: 1% 10% 3%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    line-height: 20px;
    width: 45%;
  }
}
.features__bottom-right {
  background-color:  #30282a;
  float: right;
  width: 50%;
  height: 230px;
  .features__bottom-right--title {
    margin: 15% 10% 1%;
   font-size: 30px;
   letter-spacing: 2px;   }
   .features__bottom-right--paragraph {
     margin: 1% 10% 3%;
     font-family: 'Titillium Web', sans-serif;
     font-size: 12px;
     line-height: 20px;
     width: 45%;
   }
 }
.show-more {
  height: 50px;
  width: 100%;
  clear: both;
  background: #30282a;
  text-align: center;
  .show-more__link {
    line-height: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 3px 7px;
    border-bottom: 2px solid #fff;
  }
}

//INFO SECTION
.info {
  display:flex;
  margin: 0 auto;
  padding: 5% 0 3%;
  max-width: 80%;

}
.info__block--left {
  padding-left: 5%;
  max-width: 90%;
  .info__block-icon {
    font-size: 32px;
    color: #f63c3c;
    margin-bottom: 2%;
  }
  .info__block-title {
    font-family: 'Teko', sans-serif;
    margin-bottom: 3%;
    font-weight: 900;
  }
  .info__block-paragraph {
    font-size: 14px;
  }
}

.info__block--right {
  padding-left: 5%;
  max-width: 90%;
  .info__block-icon {
    font-size: 32px;
    color: #f63c3c;
    margin-bottom: 2%;
  }
  .info__block-title {
    font-family: 'Teko', sans-serif;
    margin-bottom: 3%;
    font-weight: 900;
  }
  .info__block-paragraph {
    font-size: 14px;
  }
}

//SOCIAL SECTION
.social {
  padding: 2% 4%;
  .social__title {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
  }
  .social__paragraph {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    margin: 0 auto 2%;
    width: 80%;
  }
}
//SOCIAL SECTION LINKS
.social__links {
  display: flex;
  justify-content: center;
  .social__links--item {
    text-decoration: none;
    color: #fff;
    min-width: 25%;
    background: #30282a;
    text-align: center;
    flex-basis: 40px;
    padding: 4% 1%;
    margin: 0 .5%;
    font-size: 32px;
    p {
      margin-top: 2%;
      font-size: 16px;
      letter-spacing: -1px;
      font-weight: 900;
      }
    }
  }

//CONTACT SECTION
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #30282a;
  padding: 100px 0;
  .contact__info {
    padding: 40px 120px;
    color: #fff;
    background-color: #f63c3c;
    font-family: 'Teko', sans-serif;
    .contact__icon {
      font-size: 32px;
      margin-bottom: 10%;
    }
  }
}

//FOOTER SECTION
.footer {
    font-family: 'Teko', sans-serif;
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 93%;
    padding: 3% 0 0;
    margin: 0 auto;
  }
}

.footer-metro {
  min-width: 24%;
  .footer-metro__heading {
    border-bottom: 5px solid #000;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 4px;
  }
    .footer-metro__list {
      display: flex;
      flex-flow: column wrap;
      .footer-metro__item {
        margin: 5px 0;
        a {
          text-decoration: none;
          color: #000;
      }
    }
  }
}

.footer-services {
  min-width: 50%;
  .footer-services__heading {
    border-bottom: 5px solid #000;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 4px;
  }
    .footer-services__list {
      display: flex;
      height: 170px;
      flex-flow: column wrap;
      .footer-services__item {
        margin: 5px 0;
        a {
          text-decoration: none;
          color: #000;
      }
    }
  }
}

.footer-works {
  min-width: 24%;
  .footer-works__heading {
    border-bottom: 5px solid #000;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 4px; }
    .footer-works__list {
      display: flex;
      flex-flow: column wrap;
      .footer-works__item {
        margin: 5px 0;
        a {
          text-decoration: none;
          color: #000;
      }
    }
  }
}

.copyright {
  display: flex;
  border-top: 2px solid #000;
  padding-top: .5%;
  width: 80%;
  margin: 0 auto;
  .copyright__license {}
  .copyright__policy {
    text-decoration: none;
    color: #000;
  }
}
